<div class="container">
  <h1>Welcome to my first page of angular!</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <hr>
      <h3>Exercise two (Practising data binding)</h3>
      <app-prac-two></app-prac-two>
    </div>
    <div class="col-md-6">
      <hr>
      <h3>Exercise three (Practising directives)</h3>
      <app-prac-three></app-prac-three>
    </div>
  </div>
  <app-servers></app-servers>
  <app-servers></app-servers>
  <div class="row">
    <div class="col-md-6">
      <app-about></app-about>
    </div>
    <div class="col-md-6">
      <app-contact></app-contact>
    </div>
  </div>
  
</div>

